.navbar-fixed-left {
  width: 170px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 100%;
}

.navbar-fixed-left + .container {
  padding-left: 190px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 170px;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-brand {
	width: 100%;
	height: auto;
	padding: 0;
}